node_modules/
public/build/
public/build/bundle.css public/build/bundle.css.map public/build/bundle.js public/build/bundle.js.map

src/dist/
public/bundle.css public/bundle.css.map public/bundle.js public/bundle.js.map
public/bundle.js.map
public/bundle.js
public/bundle.css.map
public/bundle.css
formats/dist.ts
codecs/dist.ts
test-video.mp4
tests/puppeteer-testing/test-video.mp4
tests/puppeteer-testing/test.js
tests/puppeteer-testing/uploaded.png
notIntegrated
build
docs
public/test.mp4
public/hello!(1).mp4
src/dist/codecs.ts
src/dist/formats.ts
tests/codecs-testing/localCodecTester.js
html5up-dimension.zip
html5up-dimension
src/tailwind.output.css
analyze.html
cloud-functions/form-data/secrets.js
cloud-functions/form-data/credentials.json
yarn-error.log
.next/
out_publish/
out_functions/
