.terminal-emulator {
    flex: 0 1 auto;
    border: 1px solid #4A5063;
    border-radius: 5px;
    min-height: 35vh;
    max-height: 40vh;
    text-align: left;
    font-family: Ubuntu Mono;
    overflow: auto;
    width: 60vh;
    display: flex;
    font-size: 16px;
    background-color: #272C31;
    color: #3FBD71 !important;
}