body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #17141d;
  background-image: url('/images/backgroundPurpleOnlyTop.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

html {
  scrollbar-color: #008c45 transparent;
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #008c45;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

main {
  flex: 1 0 auto;
  width: 100%;
  align-self: stretch;
  text-align: center;
  /* max-width: 30.379vh; */
  /* margin: -1.3em auto 0; */
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.dropzone-wrapper {
  flex: 1 0;
  flex-direction: column;
  max-width: 50%;
  width: 40vw;
  padding-right: 1rem;
}

.input-like-text {
  -moz-appearance: textfield;
}

.shepherd-font {
  font-family: Inter;
}

.video-wrapper {
  width: 50%;
}

.terminal-wrapper {
  max-width: 50%;
  padding-left: 5%;
  height: 100%;
}

.configure-wrapper {
  width: 50%;
}

@media (min-width: 640px) {
  main {
    /* max-width: 150vh; */
  }
}
