html,

.video-fluid {
  width: 100%;
  height: auto;
	display: none; max-width: 40vw; padding: 2%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu Mono', monospace;
  background-color: '#2F333F';
}

