.thumbsContainer {
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 8px auto;
  max-height: calc(var(--container-height) - 10vh);
  overflow-y: auto;
  height: 100%;
  width: 100%;
  scrollbar-color: #77f0a0 transparent;
  scrollbar-width: thin;
}

.thumbsContainer::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.thumbsContainer::-webkit-scrollbar-thumb {
  background: #77f0a0;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.thumbsContainer::-webkit-scrollbar-track {
  background: transparent;
}

.thumb {
  display: inline-flex;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 4px;
  box-sizing: border-box;
}

.thumbInner {
  display: flex;
  @apply flex-col items-center;
  min-width: 0px;
  overflow: hidden;
}

.thumbImg {
  display: block;
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  font-size: 13px;
}

.dropzone {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100%;
  max-height: var(--container-height);
  cursor: pointer;
  @apply outline-none;
}

.previewWrapper {
  display: grid;
  grid-template: 1fr / 1fr;
  background: rgb(39, 44, 49, 0.75);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-left-color: 'none';
  border-right-color: 'none';
  border-top-color: 'none';
  border-bottom-color: 'none';
  border: '1px solid #4A5063';
  max-height: var(--container-height);
  height: var(--container-height);
  width: 100%;
}

.previewWrapper > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.scrollableWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  @apply outline-none;
}
