.optionsListWrapper {
  display: flex;
  flex: 2 0 50%;
  padding: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  @apply items-center;
}

.optionsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.optionsListItemWrapper {
  flex: 1 1 30%;
  padding-left: 10%;
}

.optionsListItem {
  flex: 0 0 auto;
  padding: 0.4rem;
  border-radius: 5px;
  width: 100%;
}

.optionsListItemActive {
  flex: 0 0 auto;
  background-color: rgba(62, 187, 112, 0.25);
  border: 1px solid #47b372;
  color: #f7f7f7;
  width: 100%;
}

.optionsListItem a {
  color: inherit;
  padding-left: 3%;
}

.optionsListItem a:hover {
  cursor: pointer;
}
