.configure-slider {
  border-radius: 5px;
}
.slider {
  -webkit-appearance: none;
  border-radius: 100px;
  padding: 0em !important;
  border: 1px solid !important;
  height: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
