h1.title {
  font-weight: 400;
  font-size: 46px;
}

.flat-btn {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem !important;
  padding-top: 10px;
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  text-align: center;
}

.link-button {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  padding: 10px;
}

.highlight {
  color: #6c63ff;
  @apply font-bold;
}

.moz-builders {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  margin-top: 5px !important;
  line-height: 0px !important;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-made-margin {
  margin-left: 0.2rem !important;
}

.subtitle {
  max-width: 60vw;
  padding: 10px;
  @apply text-white;
}

/** Loading screen main CSS class**/
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #3fbd71;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
