@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu Mono', monospace;
    color: #3FBD71;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

/* blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: inherit;
} */