# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Puppeteer Production CI

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0/4 * * *'
  repository_dispatch:
    types: manual-trigger

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Invoke deployment hook
      uses: distributhor/workflow-webhook@v1
      env:
        webhook_url: ${{ secrets.WEBHOOK_URL }}
        data: '{ "content": "Puppeteer Automated Production Testing", "username" : "Puppeteer", "avatar_url" : "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"}'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run test-production
